// Colors
$primary: #424530;
$secondary: #a58e74;
$light: #ffefcd;
$dark: #283937;
$success: #738154;
$info: #283937;
$warning: #ca8f4f;
$danger: #ac5852;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap');

body {
    background-color: green;
    --bs-body-font-family: 'Noto Serif', serif;
}
h1, h2, h3, h4, h5 {
    --bs-heading-color: #424530;
    text-shadow: 2px 2px 5px rgb(114, 88, 117);
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
// nav bar styling
.bg-body-tertiary {
    --bs-tertiary-bg-rgb: 239, 235, 224;
}
.navbar-brand {
    --bs-navbar-brand-color: #f35ad5;
    font-family: 'Noto Sertif', serif;
    text-transform: uppercase;
}
.navbar-brand::after {
    content: 'X';
    // font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 1.7rem;
}

// buttons
.links {
    text-decoration: none;
}

// event form styling
form {
    margin: 10px;
}
.btn-primary {
    --bs-btn-bg: pink;
   border: solid 3px pink;
   text-decoration: none;
    background-color: pink;
    border-radius: 5px;
    color: white;
    text-shadow: 2px 2px 5px rgb(106, 87, 109);
    text-align: center;
    padding:5px;
    margin: 5px;
}

// outer containers
.user-outer, .org-main-container, .find-event-outer, .event-list-outer, .event-outer {
    margin: 10px;
}

// nav
.nav {
    background-color: orange;
}

.user-more-info, .org-more-info {
    margin-top: 20px;
    // background-color: rgba(255, 192, 203, 0.406);
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

@import '/node_modules/bootstrap/scss/bootstrap.scss'
