// Colors
$primary: #adc7fe;
$secondary: #dafea4;
$light: #fbf8f4;
$dark: #162802;
$success: #babd8e;
$info: #82b7b0;
$warning: #fa9500;
$danger: #eb3b20;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

body {
    --bs-body-font-family: 'Zilla Slab', serif;
}
h1, h2, h3, h4, h5 {
    --bs-heading-color: #162802;
    // text-shadow: 2px 2px 5px rgb(140, 76, 19);
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    // text-transform: uppercase;
}
// nav bar styling
.bg-body-tertiary {
    --bs-tertiary-bg-rgb: 22, 40, 2;
}
.navbar-brand {
    // --bs-navbar-brand-color: #f35ad5;
    --bs-navbar-brand-color: #fbf8f4;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
}
.user-more-info, .org-more-info {
    margin-top: 20px;
    // background-color: rgba(255, 192, 203, 0.406);
}
.navbar-toggler {
    color: #fbf8f4;
    --bs-navbar-color: #fbf8f4;
}
.nav-links {
    padding: 0 20px;
}

// buttons
.links {
    text-decoration: none;
}

//login 
.login-outer {
    height: 100vh;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-login {
    padding: 10px;
    background-color: #dafea4;
    border: 2px solid #162802;
    box-shadow: 5px 5px #a0c7fe;
    width: 300px;
    margin: 20px;
}
.btn-login:hover {
    box-shadow: 10px 10px #a0c7fe;
}
.login-links {
    text-decoration: none;
    color: #162802;
}

// event form styling
form {
    margin: 10px;
}
.btn-primary, .btn-submit {
    --button-color: #dafea4;
    text-decoration: none;
    color: #162802;

    border:2px solid #162802;
    background-color: var(--button-color);

    box-shadow: 3px 3px #a0c7fe;
    text-align: center;
    width: 250px;
    padding:5px;
    margin: 5px;
}
.btn-primary:hover, .btn-submit:hover {
    box-shadow: 5px 5px #a0c7fe;
}
.event-list-head {
    text-decoration: none;
}
#date {
    width: 170px;
}

// outer containers
.user-outer, .org-main-container, .find-event-outer, .event-list-outer, .event-outer, .member-container {
    margin: 10px;
}
.spinner-container {
    margin: 40px;
    display: flex;
    justify-content: center;
}

// org page

.title{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 2px solid #dafea4;
}

.upcoming-events-ul, .past-event-ul {
    margin-top: 5px;
    margin-bottom: 20px;
    // border: 3px solid #c5ceba;
}
.event-row, .member-row {
    padding: 10px 0;
    border-bottom: 2px solid #c5ceba;
}
.event-links {
    text-decoration: none;
    color: #546a89;
}

@import '/node_modules/bootstrap/scss/bootstrap.scss'
