$primary: #ed5a24;
$secondary: #a0a0b1;
$light: #fbfbfb;
$dark: #283937;
$success: #7c9643;
$info: #283937;
$warning: #fa850b;
$danger: #f44336;

// outer containers
.user-outer, .org-outer, .find-event-outer, .event-list-outer, .event-outer {
    margin: 10px;
}

// nav
.nav {
    background-color: orange;
}

.user-more-info, .org-more-info {
    margin-top: 20px;
    // background-color: rgba(255, 192, 203, 0.406);
}

@import '/node_modules/bootstrap/scss/bootstrap.scss'
