$primary: #ed5a24;
$secondary: #a0a0b1;
$light: #fbfbfb;
$dark: #283937;
$success: #7c9643;
$info: #283937;
$warning: #fa850b;
$danger: #f44336;

@import '/node_modules/bootstrap/scss/bootstrap.scss'


